body{
    margin: 0;
    padding: 0;
}
.banner{
    position: absolute;
    width: 200%;
    height: 100vh;

}
.image{
    width: 70%;
    height: 100vh;
    background-position: center;
    background-size: cover;


    

    
    /* background-size: cover ; */
}


h1:last-child{
    
    /* left: 10%; */
}

.heading{
    color: rgb(241, 199, 8);
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    position: absolute;
    font-size: 50px;
    top: 10%;
    width: 45%;
    left: 5%;
    font-size: 100px;
    text-align: center;
    
}

.cont2{
    display: block;
    align-items: center;
    position: absolute;
    left: 25%;
    top: 38%;
    max-width: 900px;
    width: 45%;
    height: 70%;
    text-align: center;
    background: rgba(0, 0, 0, 0.548);
    border-radius: 20px;
    /* color: brown;
    background-color: yellow;
    display: block;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-radius: 30px;
    height: 300px;
    width: 500px; */
}
.btn{
    color: black;
    background-color: yellow;
    margin-left: 30%;
    /* margin-bottom: 10%; */
    margin: -20px 30px;
    border-radius: 10px;
    width: 18%;
    height: 150%;
}
/* .form-control{
    display: block;
    width: 60%;
    padding: 22px;
    padding-top: 24px;
    margin: 24px;
    margin-left: 55px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f8cb03;
    background-color:#ce0f0ff5;
    background-clip: padding-box;
} */
.col-sm{
    flex:18px;
}
.row>* {
    padding-right: 12%;
    margin-top: 3%;
}
.textwrap{
    padding: 20px 20px;
    border-radius: 10px;
}

 .form{
    color: #f8cb03;
    left: 0;
    font-size: 20px;
}
.form input{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    background-color: rgba(15, 15, 15, 0.678);
}


.form1{
    background-color: #0f0f0d41;
    color: aliceblue;
    width: 90%;
    display: flex;
    padding:5px 35px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:5px  20px;
    margin-top: 50px;
    border-radius: 14px;
    font-size: 17px;
} 
.label{
    color:greenyellow
}
.angel{
    color: aqua;
}
/* .header{
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 80vh;
    background-color:yellow;
    mix-blend-mode: difference;
    
    
}

.container{
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
   
} */